// Specific CSS for your home-page


.items-container {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: flex-start;
}

.name {
  text-align: center;
  font-size : 1.5rem;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 30px;
}

.price {
  color: grey;
  font-size: 22px;
}


