<div class="container my-4">
  <h1>Contratulations, your order was sucessfully received!</h1>
  <h2>You will get an e-mail at <%= current_user.email %> with further details.</h2>

  <%= link_to 'Continue shopping', products_path, class: 'btn btn-secondary' %>

</div>
